<tr class='<%= build_status_class(employee)%>'>
      <td id="height-cell" ><%= employee.name %></td>
      <td id="height-cell" ><%= employee.lastname %></td>
      <td id="height-cell" ><%= employee.email %> <br></td>
      <td> <%=link_to("", edit_employee_path(employee), class: build_button_class(employee)) %>
</tr>
