<tr class='<%= build_status_class(employee)%>'>
      <td id="height-cell" ><%= employee.name %></td>
      <td id="height-cell" ><%= employee.lastname %></td>
      <td id="height-cell" ><%= employee.email %> <br></td>
      <td> <%=link_to("",change_status_path(employee.id), method: :put , class: build_button_class(employee)) %>
</tr>
