<div class="update-border-decoration">

    <h1 class="Update-title col-md-12 text-center">Update Employee</h1>

    <div class="user-example">
      <%= image_tag @employee.photo_url, :class => "user-img" %>
    </div>`

    <div class="form-update-employee">

      <%= form_for(@employee) do |f| %>

          <%= f.label :name, class: "form-update-employee__label-decoration"%><br>
          <%= f.text_field :name, readonly: true, disabled: true, class: "form-update-employee__text-field-decoration" %><br>

          <%= f.label :lastname, class: "form-update-employee__label-decoration"%><br>
          <%= f.text_field :lastname, readonly: true, disabled: true, class: "form-update-employee__text-field-decoration" %><br>

          <%= f.label :email, class: "form-update-employee__label-decoration" %><br>
          <%= f.email_field :email, readonly: true, disabled: true, class: "form-update-employee__text-field-decoration"  %><br>

          <%= f.label :paypal_email, class: "form-update-employee__label-decoration" %><br>
          <%= f.email_field :paypal_email, class: "form-update-employee__text-field-decoration" %> <br>

          <%= f.fields_for :salary do |f| %>
          <%= f.label :Salary, class: "form-update-employee__label-decoration" %><br>
          <%= f.text_field :amount, class: "form-update-employee__text-field-decoration"  %> <br>
          <% end %>

          <%= f.fields_for :saving_company do |f| %>
          <%= f.label :Saving_Company, class: "form-update-employee__label-decoration" %><br>
          <%= f.text_field :amount, class: "form-update-employee__text-field-decoration"  %> <br>
          <% end %>

          <%= f.fields_for :saving_employee do |f| %>
          <%= f.label :Saving_Employee, class: "form-update-employee__label-decoration" %><br>
          <%= f.text_field :amount, class: "form-update-employee__text-field-decoration"  %> <br>
          <% end %>

          <%= f.submit "Save changes", class: "form-update-employee__submit-btn btn btn-primary" %>

      <% end %>

    </div>
</div>
