<!DOCTYPE html>
<html>
<head>
  <title>Savings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

        <% if current_employee %>
          Signed in as <strong><%= current_employee.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% end %>


      <%= yield %>



</body>
</html>
